{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link type="text/css" href="{% static 'video_app/css/search.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}

<h1 align="center">Search</h1>

<div id="csrf" data-csrf="{{ csrf_token }}"></div>

<div class = "to_tag">
    Tags:&nbsp&nbsp
    <button id="btn_to_tag_search">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5-3.9 19.5m-2.1-19.5-3.9 19.5" />
        </svg>
    </button>
</div>

<div class="search">

    <input type="text" id="search_field">

    <button id="btn_search">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
        </svg>
    </button>
</div>



<table class="video-table" id="videoTable"></table>

<script src="{% static 'video_app/js/functions.js' %}?v={{ STATIC_VERSION }}"></script>
<script src="{% static 'video_app/js/search.js' %}?v={{ STATIC_VERSION }}"></script>

{% endblock %}